<%- contentFor('content') %>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="title">Edit {{properCase name}}</h4>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="alert alert-warning">
                                <span>Please fill all required fields.</span>
                            </div>
                            <form name="{{name}}" method="post" action="/{{pluralize name}}/<%={{name}}.id%>">
                                <input type="hidden" name="_method" value="PATCH">
                                <!--Start inputs here-->
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-10">
                                        <button type="submit" class="btn btn-fill btn-default btn-block">Update {{properCase name}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>