<%- contentFor('content') %>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="title">{{properCase (pluralize name)}}</h4>
                                </div>
                                <div class="col-md-2">
                                    <a href="/{{pluralize name}}/new" class="btn btn-block btn-default btn-fill">Add {{properCase name}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content table-responsive table-full-width">
                                        <table class="table table-striped table-route" id="table_list">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%{{pluralize name}}.forEach({{name}}=>{%>
                                                    <tr>
                                                        <td><%= {{name}}.id %></td>
                                                        <td>
                                                            <a href="/{{pluralize name}}/<%={{name}}.id%>/edit" class="btn btn-warning btn-sm">Edit</a>
                                                            <form method="POST" style="display: inline-block" action="/{{pluralize name}}/<%={{name}}.id%>">
                                                                <input type="hidden" name="_method" value="DELETE">
                                                                <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>