$2<div class="row">
$2    <div class="col-md-12">
$2        <div class="form-group">
$2            <label for="{{attrName}}">{{properCase attrName}}</label>
$2            <input name="{{attrName}}" id="{{attrName}}" type="checkbox" value="true"{{#if _isEdit}}<%={{camelCase name}}.{{attrName}}?' checked':''%>{{/if}}>
$2        </div>
$2    </div>
$2</div>