$2<div class="row">
$2    <div class="col-md-12">
$2        <div class="form-group">
$2            <label for="{{attrName}}">{{properCase attrName}}</label>
$2            <input name="{{attrName}}" id="{{attrName}}" type="date" class="form-control border-input"{{#if _isEdit}} value="<%={{camelCase name}}.{{attrName}}.toISOString().slice(0,10)%>"{{/if}}>
$2        </div>
$2    </div>
$2</div>